<form [formGroup]="cityForm" (ngSubmit)="submit()">
  <table style="" class="table">
    <thead class="thead-dark">
    <tr>
      <th style="text-align: center" colspan="4" scope="col">Chỉnh sửa thành phố</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th colspan="4" scope="row">CHỈNH SỬA THÀNH PHỐ</th>
    </tr>
    <tr>
      <th scope="row">Tên :</th>
      <th colspan="3" scope="row"><input formControlName="name" type="text"></th>
    </tr>
    <tr>
      <th scope="row">Quốc gia :</th>
      <th colspan="3" scope="row">
        <select formControlName="country">
          <option *ngFor="let country of countries"  value="{{country.id}}">{{country.name}}</option>
        </select>
      </th>
    </tr>
    <tr>
      <th scope="row"></th>
      <th colspan="3" scope="row"><input formControlName="id" id="identify" type="hidden"></th>
    </tr>
    <tr>
      <th scope="row">Diện tích :</th>
      <th colspan="3" scope="row"><input formControlName="area" id="area" type="number"></th>
    </tr>
    <tr>
      <th scope="row">Dân số :</th>
      <th colspan="3" scope="row"><input formControlName="population" id="population" type="number"></th>
    </tr>
    <tr>
      <th scope="row">GDP :</th>
      <th colspan="3" scope="row"><input formControlName="gdp" id="gdp" type="number"></th>
    </tr>
    <tr>
      <th scope="row">Giới thiệu :</th>
      <th colspan="3" scope="row"><input formControlName="description" id="description" type="text"></th>
    </tr>
    <tr>
      <th scope="row">&ensp;</th>
      <th style="text-align: left" colspan="2" scope="row">
        <button>Sửa</button>&ensp;&ensp;<button type="button">Thoát</button>
      </th>
      <th scope="row">&ensp;</th>
    </tr>
    </tbody>
  </table>
</form>
